/* General Styles */
.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color); /* Background color, adjust for dark/light theme */
  color: var(--text-color); /* Text color, adjust for dark/light theme */
}

.dark-mode .splash-container {
  background-color: var(--dark-background); /* Dark theme background */
  color: var(--text-color-dark); /* Dark theme text color */
}

.splash-animation-container {
  height: 50vh;
  width: 100%; /* Ensure animation scales with container width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-title-container {
  font-size: 2.5rem;
  text-decoration: none;
  text-align: center;
  margin-top: 20px; /* Space between animation and title */
}

.splash-title {
  font-family: "Agustina Regular", cursive;
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 20px;
  color: var(--title-color); /* Text color, adjust for dark/light theme */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .splash-title-container {
    font-size: 2rem; /* Adjust font size for tablets and small screens */
  }

  .splash-title {
    padding: 0 15px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .splash-title-container {
    font-size: 1.5rem; /* Further adjust font size for very small screens */
  }

  .splash-title {
    padding: 0 10px; /* Further adjust padding for very small screens */
  }
}
